################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Words/obj/Debug/net6.0
/.vs/Words/FileContentIndex
